@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

html, body, main{
    width: 100%;
    height: 100%;
    background: #f7e8e8;

    section {
        height: 100vh;
        
        .container{
            padding: 5vw;
    
            h1{
                font-size: 5rem;
            }
            
            p{
                width: 50%;
                line-height: 170%;
            }
        }
    }
    
    .sticky-container{
        height: 300vh;
    
        .sticky{
            position: sticky;
            top: 0;
            height: 100vh;
            overflow: hidden;

            .scroll-section{
                position: absolute;
                top: 0;
                height: 100%;
                width: 300vw;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 5vw;
                will-change: transform;

                img{
                    width: 400px;
                    height: 80%;
                    object-fit: cover;
                }
            }
        }
    }
}
